<div>
  <img id="backgroundimage" src="../../assets/bg8.jpg">
  <div class="sign-in-box">
    <img id="logo" src="../../assets/logo.png"><h2>ToDo!</h2>
    <button id="login-button" (click)="signInWithGoogle()">
      <img
        width="20px"
        style="margin-top:7px; margin-right:8px"
        alt="Google sign-in"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
      />
      <p>Sign in with Google</p>
    </button>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#e58600" 
            type = "line-scale-pulse-out" [fullScreen] = "true">
    <h4 style="color: white" > Welcome to ToDo ! </h4>
</ngx-spinner>
