#backgroundImage {
    width: 1348px;
    height: 656px;
    margin-bottom: -630px;
}

#newTask {
    margin-left: 90%;
    margin-top: -105px;
}

label {
    width: 105px;
}

#yes {
    margin-left: -130px;
    margin-top: 50px;
    width: 70px;
}

#no {
    margin-top: 50px;
    margin-left: 130px;
    width: 70px;
}

div {
    width: 96%;
    margin-left: 2%;
    margin-top: 0px;
    display: flex;
}

h4 {
    margin-left: 30px;
}

th,td {
    text-align: center;
}

input {
    height: 20px;
    width: 20px;
}

img {
    height: 20px;
    width: 20px;
}

#date {
    width: 200px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

#Name {
    margin-left: 47px; 
    height: 25px;
    width: 200px;
}

#Description {
    margin-left: 48px; 
    height: 25px;
    width: 200px;
}

#Date {
    margin-left: 100px; 
    height: 25px;
    width: 200px;
}

#Email {
    width: 200px;
    height: 25px;
    margin-left: 47px;
}

#addBtn {
    margin-left: 280px;
}

#CancelTask {
    margin-left: 373px;
    margin-top: -66px;
}

tbody {
    background-color: white;
}
